PORT=3001
SECRET_KEY=your_secret_key_here

# SQLite Database
DATABASE_URL=./backend/budgetwise.sqlite

# Plaid API Credentials
PLAID_CLIENT_ID= Plaid client ID
PLAID_SECRET=Plaid secret key
PLAID_ENV=sandbox

# Alpaca Trading API
ALPACA_API_KEY= Alpaca api key
ALPACA_SECRET_KEY=Alpaca api secret
ALPACA_BASE_URL=https://paper-api.alpaca.markets

#AWS SES Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
EMAIL=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=